@model ServiceUpdateVM

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">
                    Update Service Form
                </p>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="form-group">
                            <input asp-for="Photo" class="form-control" placeholder="Photo">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Title" class="form-control" placeholder="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Description" class="form-control" placeholder="Description">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="SubDescription1" class="form-control" placeholder="SubDescription1">
                            <span asp-validation-for="SubDescription1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="SubDescription2" class="form-control" placeholder="SubDescription2">
                            <span asp-validation-for="SubDescription2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="SubTitle1" class="form-control" placeholder="SubTitle1">
                            <span asp-validation-for="SubTitle1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="SubTitle2" class="form-control" placeholder="SubTitle2">
                            <span asp-validation-for="SubTitle2" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial"></partial>
}
