.tv-series-bg {
    background-position: center;
    background-size: cover;
    padding: 120px 0 70px;
  }
  .tr-movie-btn .btn {
    letter-spacing: 0;
    background: #e4d804;
    color: #1a1e21;
  }
  .tr-movie-btn .btn:hover {
    background: transparent;
    color: #fff;
  }