@model MovieUpdateVM

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">
                    Update Movie Form
                </p>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="form-group">
                            <input asp-for="Photo" class="form-control" placeholder="Name">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="ReleaseDate" class="form-control" placeholder="Date">
                            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Quality" class="form-control" placeholder="Quality">
                            <span asp-validation-for="Quality" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Duration" class="form-control" placeholder="Duration" />
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Point" class="form-control" placeholder="Point" />
                            <span asp-validation-for="Point" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="About" class="form-control" placeholder="About" />
                            <span asp-validation-for="About" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Status" class="form-control" placeholder="Status" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="TeaserUrl" class="form-control" placeholder="TeaserUrl" />
                            <span asp-validation-for="TeaserUrl" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <select asp-for="CategoryIds" asp-items="ViewBag.Categories" class="form-select form-select-lg mb-3 col-12">
                            </select>
                            <span asp-validation-for="CategoryIds" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial"></partial>
}
