@model List<Category>

<div class="widget blog-widget">
    <div class="widget-title mb-30">
        <h5 class="title">Categories</h5>
    </div>
    <div class="sidebar-cat">
        <ul>
            @foreach (var item in Model)
            {

                <li><a href="#">@item.Name</a> <span>16</span></li>

            }
        </ul>
    </div>
</div>

