<section>
    <div class="container">
        <row>
            <div class="alert alert-info" role="alert" style="text-align:center">
                Please check your email!!!
            </div>
        </row>
    </div>
</section>
